body { background-color:black; font-family:arial; color:white}
h1 { color:grey; font-family:verdana; text-align: center}

.maindiv {
    background-color:white;
    color:black;
    width: 500px;
    padding: 30px;
    border-radius:25px;
    text-align: left; 
    line-height: 30px;
}

.data { padding-left: 120px}

.result-text { line-height: 15px}

footer { text-align: left}